body {
    background: darkgrey;
    margin: auto;
    
}
header {
    padding-top: 20px;
    padding-bottom: 50px;
}
.btn {
    background:    #666;
    border:        1px solid #000;
    border-radius: 5px;
    box-shadow:    0 2px 0 0 #000;
    color:         #fff;
    display:       inline-block;
    padding:       2px 10px;
    font:          normal 700 15px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   1px 1px 0 #000;
    width: 30px;
    height: 30px;
}
#breakTime, #longTime {
    font-size: 25px;
    padding:10px;
    margin: auto;
}
#timerView {
    height: 270px;
    width:270px;
    border-radius: 50%;
    border: 2px solid green;
    margin: 30px;
    background-color: darkgray;
    font-size: 70px;
}
#leftControl {
    padding-right: 50px;
}
#rightControl {
    padding-left: 50px;
}
footer {
    font-size: 10px;
}

